.portlet.light > .portlet-title > .actions {
  padding: 6px 3px 5px 0 !important;
}
.strs
{
   color:black !important;
}

.quest{


margin-top: -3px !important;
 
 margin-left: -30px !important;
}

.us
{
font-size: 69px !important; 
 
 margin-left: -65px !important;
 
 margin-top: 15px !important;
}
.browsecss
{
   resize:none !important;
    width:104% !important;
}
.none
{
  text-decoration:none !important;
  cursor:text !important;
}
